img{
	width: 136.5px;
	height: 175px;
    pointer-events: none;
}

.clickable-card{
    pointer-events: all;
    transition: opacity 0.7s;
    opacity: 1;
}

.unclickable-card{
    pointer-events: none;
    transition: opacity 0.7s;
    opacity: 0.4;
}

.clickable{
    pointer-events: all;
}

.unclickable{
    pointer-events: none;
}
